@extends('admin/partials/base.html')

@section('content')
<div class="row">
    <div class="col-1">
        <div class="card rtl post">
            <div class="card-title bg-cyan">افزودن دسته بندی</div>
            <div class="card-body">
                <form action="" method="POST">
                        <input type="hidden" name="_method" value="PUT">
                        {{csrf_field()}}
                        <input class="form-input" type="text" name="title" id="" placeholder="نام دسته بندی" required>

                        <div class="card" style="margin-top:15px;width: 400px;">
                            <div class="card-title bg-grey">انتخاب دسته بندی پدر</div>
                            <div class="card-body" style="height:250px;overflow: auto;">
                                <table class="table stripe" id="parent_category">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>نام</th>
                                            <th>دسته بندی پدر</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td><input type="radio" name="parent[]" value="" checked></td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                        @foreach($categories as $category)
                                        <tr>
                                            <td><input value="{{$category->id}}" type="radio" name="parent[]"></td>
                                            <td>{{$category->cat_name}}</td>
                                            <td>{{($category->parent_name)}}</td>
                                        </tr>
                                        @endforeach
                                    </tbody>
                                </table>
                            </div>
                            <input id="parent_search" type="text" class="form-input" placeholder="جستوجو" data-table="#parent_category">
                        </div>
                        <div>
                            <textarea name="description" cols="30" rows="10" id="editor" placeholder="description"></textarea>
                        </div>
                        <input type="submit" value="افزودن" class="btn btn-primary ml-auto">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-1">
        <div class="card rtl post">
            <div class="card-title bg-cyan">لیست دسته بندی ها</div>
            <div class="card-body">
                <form action="#" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    {{csrf_field()}}
                    <div style="height: 300px;overflow: scroll; width: 100%;">
                        <table class="table stripe">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>نام</th>
                                    <th>دسته بندی پدر</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach($categories as $category)
                                <tr>
                                    <td><input value="{{$category->id}}" type="radio" name="category_id[]"></td>
                                    <td>{{$category->cat_name}}</td>
                                    <td>{{($category->parent_name)}}</td>
                                    <td><a href="/admin/category_settings/{{$category->id}}">ویرایش</a></td>
                                </tr>
                                @endforeach
                            </tbody>
                        </table>
                    </div>
                    <div class="col-1" style="margin-top: 10px;">
                        <label for="action" style="padding:5px;">عملیات :</label>
                        <select name="action" id="action" style="width: 300px; padding:5px">
                            <option value="none" selected>انتخاب کنید</option>
                            <option value="delete">حذف</option>
                        </select>
                        <input type="submit" value="اعمال" class="btn btn-primary ml-auto">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@endsection

@section('css')
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<style>
    .note-editable{
        background: white;
    }
</style>
@endsection

@section('js')
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
@endsection
