@extends('admin/partials/base.html')

@section('content')
<div class="row">
    <label class="btn btn-primary" for="new_file">Upload File <i class="icon-upload"></i></label>
    <input class="uploader" type="file" name="new_file" id="new_file" style="display: none;">
</div>
<table class="table filemanager">
    <caption></caption>
    <thead>
        <tr>
            <td>#</td>
            <td>icon</td>
            <td>File Name</td>
            <td>Size</td>
        </tr>
    </thead>

    <tbody>
        
    </tbody>
</table>
<div class="viewer-container"></div>
@endsection

@section('css')
    <link rel="stylesheet" href="/css/filemanger.css">
@endsection

@section('js')
    <script src="/js/filemanager.js"></script>
@endsection