@extends('admin/partials/base.html')

@section('content')
<div class="row reverse">
    <div class="col-1-2">

        <div class="card post rtl bg-grey full-h">
            <div class="card-title">کامنت های اخیر</div>
            <div class="card-body" style="max-height: 100px; overflow-y: scroll;">
                <p>متن کامنت</p>
                <p>متن کامنت</p>
                <p>متن کامنت</p>
                <p>متن کامنت</p>
            </div>
            <a href="/admin/recent/comments" class="btn btn-primary mr-auto">بیشتر</a>
        </div>

    </div>

    <div class="col-1-2">
        <div class="card post rtl bg-amber full-h">
            <div class="card-title">یادداشت ها</div>
            <div class="card-body" style="max-height: 100px; overflow-y: scroll;">
                <p><a href="#">متن یادداشت</a></p>
                <p><a href="#">متن یادداشت</a></p>
                <p><a href="#">متن یادداشت</a></p>
                <p><a href="#">متن یادداشت</a></p>
            </div>
            <a href="#" class="btn"><span class="icon-pencil"></span> یادداشت جدید</a>
        </div>
    </div>
</div>
<div class="row rtl">
    <div class="col-1-2">
        <div class="card post rtl bg-teal full-h">
            <div class="card-title">آمار</div>
            <div class="card-body" style="max-height: 100px; overflow-y: scroll;">
                <p><a href="#">متن یادداشت</a></p>
                <p><a href="#">متن یادداشت</a></p>
                <p><a href="#">متن یادداشت</a></p>
                <p><a href="#">متن یادداشت</a></p>
            </div>
            <a href="/admin/statistics" class="btn"><span class="icon-chart-bar"></span> بیشتر</a>
        </div>
    </div>
</div>
@endsection