@extends('admin/partials/base.html')

@section('content')
<form action="#" method="POST" style="align-content:initial;" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="PUT">
    {{csrf_field()}}
    <div class="row reverse">
        <div class="col-2-3">
            <div class="card" style="height: 720px;">
                <div class="card-title bg-grey rtl">نوشته جدید</div>
                <div class="card-body" style="display: flex; flex-direction: column;">

                    <div class="col">
                        <input class="rtl" type="text" name="title" placeholder="موضوع" maxlength="60" required>
                        <span class="counter">0/60</span>
                    </div>

                    <div class="col">
                        <input class="rtl" type="text" name="slug" placeholder="slug" maxlength="60">
                        <span class="counter">0/60</span>
                    </div>

                    <div class="row rtl" style="margin: 10px 0;">
                        <div class="dropdown">
                            <label for="thumb" class="btn"><i class="icon-picture"></i>
                                <span>تصویر شاخص</span>
                            </label>
                            <input type="file" name="thumbnail" id="thumb" style="display: none;" accept="image/*">
                            <div class="dropdown-content">
                                <span class="thumbnail-reset"><i class="icon-trash"></i></span>
                                <img id="preview" src="/storage/thumbnails/noimage.jpg" alt="thumbnail" class="thumbnail">
                            </div>
                        </div>
                    </div>

                    <div class="rtl">
                      <textarea name="body" id="editor" cols="30" rows="10" placeholder="متن" required></textarea>
                    </div>

                    <div class="col">
                        <textarea class="rtl" name="description" cols="30" rows="2"
                        placeholder="توضیحات مختصر" maxlength="150" required></textarea>
                        <span class="counter">0/150</span>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-1-3">
            <div class="card rtl" style="margin-right: 10px;">
                <div class="card-title bg-grey">تنظیمات پست</div>
                <div class="card-body" style="max-width: 500px; overflow-y: scroll;">
                    <input type="submit" value="انتشار" class="btn btn-primary ml-auto" style="margin-bottom: 10px;">
                    <div class="card">
                        <div class="card-title bg-grey">دسته بندی</div>
                        <div class="card-body" style="height: 200px; overflow-y: scroll;">
                            <ul class="cat">
                                {{$categories}}
                            </ul>
                        </div>
                    </div>

                    <div class="card" style="margin-top:10px;">
                        <div class="card-title bg-grey">برچسب ها</div>
                        <div class="card-body">
                            <input type="text" id="tagger" placeholder="برچسب" style="width: 80%;" data-action="#tag-list">
                            <div class="tags" id="tag-list">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
@endsection

@section('css')
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<style>
    .note-editable{
        background: white;
    }
</style>
@endsection

@section('js')
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
@endsection
