<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @include('partials/seo.html')
    <title>{{$title}} | code4life</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/develhopper/bookstrap/dist/bookstrap.min.css">
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/samim-font@v4.0.5/dist/Farsi-Digits-Without-Latin/font-face-FD-WOL.css"  type="text/css" rel="stylesheet prefetch"/>
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/samim-font@v4.0.5/dist/font-face.css" type="text/css" rel="stylesheet prefetch"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/develhopper/code4life@2.8.1/public/css/app.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>

    <div class="row">
        <div class="nav header">
            <a class="title" href="{{BASEURL}}">Code4life | کد برای زندگی</a>
        </div>
    </div>

    <div class="container-fluid main h100">
        <div class="row">

            <div class="col-2-12 rtl categorybar order-1">
                @include('partials/sidebar.html')
                @yield('sidebar')
            </div>

            <div class="col-10-12 order-0 articles" style="padding: 10px;">
                @yield('content')
            </div>

        </div>
    </div>

    @include('partials/footer.html')

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/develhopper/code4life@2.8/public/js/app.js"></script>
    @yield('js')
</body>

</html>
