<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خانه</title>
    <link rel="stylesheet" href="/public/css/flat.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="stylesheet" href="css/fontello.css">
</head>

<body>

    <nav class="navbar rtl bg-grey top-fixed" style="border-bottom: 1px solid red;">
        <div class="nav">
            <a class="nav-item">خانه</a>
            <a class="nav-item">بلاگ</a>
            <a class="nav-item">دسته بندی</a>
            <a class="nav-item mr-auto" href="panel/index.html">ورود | ثبت نام</a>
        </div>
    </nav>

    <div class="container-fluid main">
        <div class="row">

            <div class="col-1-5 side-bar">
                @include('partials/sidebar.html')
            </div>

            <div class="col-4-5 order-0 articles">
                @yield('content')
            </div>

        </div>
    </div>

    @include('partials/footer.html')
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/app.js"></script>
</body>

</html>