<footer>
    <div class="row rtl">
        <div class="col-1-3 center">
            <h4 class="margin-0">لینک های مهم</h4>
            <div class="vnav">
                <a href="https://github.com/develhopper" class="nav-item">گیتهاب</a>
            </div>
        </div>
        <div class="col-1-3 center">
            <h4 class="margin-0">شبکه های اجتماعی</h4>
            <div class="vnav">
                <a href="https://instagram.com/develhoper" class="nav-item">اینستاگرام</a>
                <a href="https://t.me/develhoper" class="nav-item">تلگرام</a>
                <a href="https://twitter.com/develhoper" class="nav-item">توییتر</a>
            </div>
        </div>
        <div class="col-1-3 center">
            <h4 class="margin-0">حساب کاربری</h4>
            <div class="vnav">
                <a href="/login" class="nav-item">ورود | ثبت نام</a>
            </div>
        </div>
    </div>
</footer>