{% use Core\handler\Session; %}
<nav class="navbar rtl bg-grey top-fixed" style="border-bottom: 1px solid red;" id="navbar">
    <div class="mv-auto" style="display: flex;">
        <button class="navbar-toggle" data-toggle="#nav-items"><i class="icon-menu"></i></button>
        <a href="#" class="navbar-brand">Code4Life</a>
    </div>
    <div class="nav-container" id="nav-items">
        <div class="nav">
            <a class="nav-item">خانه</a>
            <a class="nav-item">بلاگ</a>
            <a class="nav-item">دسته بندی</a>
            @if(Session::has("login_user"))
            <span class="nav-item mr-auto" data-toggle="#dropdown-menu">{{Session::get("login_user")}}</span>
                <div class="dropdown-items bg-grey bottom left" id="dropdown-menu" style="display: none;">
                    @if(Session::has('user_role') && Session::get('user_role')==2)
                    <a href="/admin" class="dropdown-item">پنل</a>
                    @endif
                    <a href="/logout" class="dropdown-item bg-red white">خروج</a>
                </div>
            @else
            <a class="nav-item mr-auto" href="/login">ورود | ثبت نام</a>
            @endif
        </div>
    </div>
</nav>