<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{$post->title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/develhopper/bookstrap/dist/bookstrap.min.css">
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/samim-font@v4.0.5/dist/font-face.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/develhopper/code4life/public/css/fontello.css">
</head>

<body>
    @include('partials/navbar.html')
    <div class="container-fluid">
        <div class="row main">

            <div class="col-1-5 side-bar">
                @include('partials/sidebar.html')
            </div>

            <div class="col-4-5 articles">
                @yield('content')
            </div>
        </div>
    </div>
    
    @include('partials/footer.html')

    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/app.js"></script>
</body>

</html>
