@extends('partials/base.html')

@section('content')
    @if($category->description)
    <div class="article rtl featured">
        <h1 class="article-title">{{$category->name}}</h1>
        <div class="article-body">{{$category->description}}</div>
    </div>
    @endif
    @foreach($posts as $post)
    <a href="/p/{{$post->slug}}" class="article rtl">
        <h2 class="article-title">{{$post->title}}</h2>
        <div class="article-body">{{$post->description}}</div>
    </a>
    @endforeach
    <div class="pagination">

    </div>
@endsection

@section('js')
  <script>
    {{ "make_pagination('.pagination',$pagination[current],$pagination[total],'$pagination[link]');"}}
  </script>
@endsection
