@extends('partials/base.html')

@section('content')
    @if($category->description)
    <div class="card post rtl" style="box-shadow: none;">
        <div class="card-title bg-grey">
            <h2>{{$category->name}}</h2>
        </div>
        <div class="card-body">
            {{$category->description}}
        </div>
    </div>
    @endif
    @foreach($posts as $post)
    <div class="card post rtl bg-grey">
        <div class="card-title">
            <h2>{{$post->title}}</h2>
        </div>
        <div class="card-body">
            {{_d($post->description)}}
        </div>
        <a href="{{BASEURL.'/p/'.$post->slug}}" class="btn btn-primary mr-auto">بیشتر</a>
    </div>
    @endforeach
    <ul class="pagination">

    </ul>
@endsection

@section('js')
  <script type="text/javascript">
    {{ "make_pagination('.pagination',$pagination[current],$pagination[total],'$pagination[link]');"}}
  </script>
@endsection
