@extends('partials/base.html')

@section('content')
  <h1 class="rtl">کد برای زندگی | {{$h1}}</h1>
    @foreach($posts as $post)
    <a href="/p/{{$post->slug}}" class="article rtl">
      <h2 class="article-title">{{$post->title}}</h2>
      <div class="article-body">{{$post->description}}</div>
      <div class="col ltr">
        <small class="mr-auto fdigit">{{$post->jdate()}}</small>
      </div>
    </a>
    @endforeach
    <div class="pagination">

    </div>
@endsection

@section('js')
  <script type="text/javascript">
    {{ "make_pagination('.pagination',$pagination[current],$pagination[total],'$pagination[link]');"}}
  </script>
@endsection
