@extends('partials/base.html')

@section('content')
  <h2 class="rtl">نوشته های اخیر</h2>
    @foreach($posts as $post)
    <a href="/p/{{$post->slug}}" class="article rtl">
      <h2 class="article-title">{{$post->title}}</h2>
      <div class="article-body">{{$post->description}}</div>
    </a>
    @endforeach
    <ul class="pagination">

    </ul>
@endsection

@section('js')
  <script type="text/javascript">
    {{ "make_pagination('.pagination',$pagination[current],$pagination[total],'$pagination[link]');"}}
  </script>
@endsection
