@extends('partials/base.html')

@section('content')
<div class="article rtl">
    <h1 class="article-title">{{$post->title}}</h1>
    <div class="article-body">{{_d($post->body)}}</div>
    <div class="article-footer">
        <div class="row">{{$post->jdate()}}</div>
        <div class="row">
            <form action="/c/{{$post->id}}" method="POST">
                <p>نظر خود  را بنویسید</p>
                {{csrf_field()}}
                <input type="text" name="name" id="" class="form-input" placeholder="نام" required>
                <input type="email" name="email" id="" class="form-input" placeholder="ایمیل (اخنیاری)">
                <textarea name="body"cols="30" rows="10" class="form-input" required></textarea>
                <input type="submit" value="ارسال" class="btn btn-success">
            </form>
        </div>
        <div class="row">
            <div class="col-1">
                @foreach($comments as $comment)
                <div class="comment">
                    <p class="comment-title">{{$comment->name}}</p>
                    <div class="comment-body">{{$comment->body}}</div>
                </div>
                @endforeach
            </div>
        </div>
    </div>

</div>

@endsection

@section('js')
    {% use Core\handler\Session; %}
    @if(Session::has('message'))
        <script>make_toast("{{Session::flash(message)}}","primary",true)</script>
    @endif
@endsection