@extends('partials/base.html')

@section('content')
<div class="article rtl">
    <h1 class="article-title">{{$post->title}}</h1>
    <div class="article-body">{{_d($post->body)}}</div>
    <div class="article-footer">
        <div class="row">{{$post->jdate()}}</div>
        <div class="row">
            <form action="/api/new/comment/{{$post->id}}" method="post" id="comment-form">
                <p>نظر خود  را بنویسید</p>
                <input type="text" name="name" id="" class="form-input" placeholder="نام">
                <input type="email" name="email" id="" class="form-input" placeholder="ایمیل (اخنیاری)">
                <textarea name="comment"cols="30" rows="10" class="form-input"></textarea>
            </form>
        </div>
        <div class="row">
            <div class="col-1">
                @foreach($comments as $comment)
                <div class="comment">
                    <p class="comment-title">{{$comment->name}}</p>
                    <div class="comment-body">{{$comment->body}}</div>
                </div>
                @endforeach
            </div>
        </div>
    </div>

</div>

@endsection
