body {
	font-family: Samim, Arial, Helvetica, sans-serif;
}

.main {
	margin-top: 55px;
}


.btn {
	border:none;
	font-family: Samim, Arial, Helvetica, sans-serif;
	margin-top: 15px;
}

.category {
	margin: 5px;
	margin-top: 10px;
}

.post {
	margin: 10px;
}

.post>.btn {
	border-radius: 0;
}

.comment{
	margin:10px;
}

.card-title * {
	margin: 0;
}

.card {
	box-shadow: -2px 2px 7px black;
	background: #F5F5F5;
}

footer {
	margin-top: 5px;
	box-shadow: 0 -1px 3px black;
}

a {
	color: inherit;
	text-decoration: inherit;
}


form.bg-dark .form-input{
	background: #212121;
	color:white
}

.vnav .active {
	background: #b71c1c
}

.dock .nav-item {
	padding: 20px;
	font-size: 1.2em;
}

.dock .nav-item:hover {
	background: #263238;
	color: white;
}

.catbar {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.cat {
	list-style-type: none;
	margin-top: 10px;
	padding-inline-start: 0;
}

.cat a{
	color:#039be5;
}

.cat a:hover{
	color:white;
}

.subcat {
	list-style-type: none;
	padding-inline-start: 15px;
}

.red-hover:hover{
    background:#d32f2f !important;
    color:white !important;
}

.comment{
	margin:15px;
}

.dropdown-items.left{
	left:0;
}
.dropdown-items.bottom{
	top:100%;
}

#dropdown-menu{
	display: none;
	position: absolute;
	margin: 5px;
	min-width: 150px;
	box-shadow: 3px 3px 3px #000;
	overflow: hidden;
	z-index: 101;
	border-radius: 5px;
	border:3px solid white;
}

.note{
	display: inline-block;
	background:#FFEB3B;
	padding:10px;
	margin:10px;
	width:250px;
	min-height:200px;
	border-radius:5px;
	box-shadow:2px 2px 7px grey;
}

.note-bar{
	display:flex;
	font-size:0.8em;
	border-bottom:1px solid black;
}

.container-fluid,.container{
	min-height:500px;
}

th,td{
	text-align: center;
}

.color-success {
	color: #388E3C;
}
  
.color-danger {
	color: #b71c1c;
}
  
.color-primary {
	color: #0288D1;
}

@media screen and (max-width:820px) {
	.main {
		flex-direction: column;
	}
	.side-bar {
		order: 2;
	}
	.articles {
		width: 100%;
	}
	footer .row {
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width:480px){
	#vertical_nav{
		display: none;
	}
}