.filemanager td{
    text-align:start;
    user-select: none;
}

.filemanager caption{
  text-align: start;
  border-bottom: 1px solid black;
  padding: 3px;
  border-radius: 5px;
  margin:0 3px;
  color:#0097A7;
}

.context-menu{
 background:#ffffff;
 position:absolute;
 min-width:150px;
 border-radius:10px;
 overflow:hidden;
 box-shadow:3px 3px 7px black;
}

.context-menu ul{
 list-style-type:none;
 padding:0px;
 margin:0;
}

.context-menu ul li{
 padding:7px; 
}

.context-menu ul li:hover{
 color:white;
 background:black;
 cursor:pointer;
}

.filemanager .icon-folder{
    color:#FF8F00;
}

.filemanager .icon-doc{
    color:#263238
}

.viewer-container{
 position:fixed;
 width:100%;
 height:100%;
 z-index:-1;
 display: flex;
}

.imageviewer{
 max-width:500px;
 max-height:500px;
 width:300px;
 height:auto;
 background:white;
 overflow:hidden;
 border-radius:7px;
 display:flex;
 flex-direction:column;
 margin:auto auto;
 box-shadow:3px 3px 7px black;
}
  
.viewer-title{
  display:flex;
  flex-wrap:wrap;
  padding:3px;
  border-bottom:1px solid black;
}

.viewer-close{
  margin-left:auto;
  cursor:pointer;
  background:#b71c1c;
  border-radius:50%;
  width:15px;
  height:15px;
  padding:3px;
  text-align:center;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
 }

.imageviewer .body{
  display:flex;
  flex-direction:column;
  align-items:center;
  
}

.imageviewer img{
    width:250px;
}

.editor{
  width:80%;
  height:80%;
  background:white;
  margin:auto;
  border-radius:7px;
  overflow:hidden;
  box-shadow: 3px 4px 7px black;
 }

 .editor .body{
  padding:5px;
  display:flex;
  max-height:460px;
  overflow: hidden;
 }

 .editor .edit{
  width:100%;
  min-height:450px;
  height:auto;
  resize: none;
  display: block;
  padding:2px;
}

.editor .counter{
 color:#0097A7;
}

.editor .counter span{
  display: block;
}

.editor .btn{
  margin:1px;
  border:none;
}

.justify-end{
  justify-content: flex-end;
}